body {
	display: flex;
  padding-top: 50px;
  background: orange;
  justify-content: center;
  font-family: arial;
}
 
div {
  font-family: arial;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
}
